---
import { websitePricingItems } from "@data/pricing";

const monthlySubscriptionCost = websitePricingItems
    .find(item => item.packageName === "Monthly")
    ?.price;

const backgroundPicture =
    "https://nyc3.digitaloceanspaces.com/csimages2/Images/Illustrations/tattoo.jpg";
const offerings = [
    {
        title: "Bulletproof Security",
        text: "Our websites are static HTML and CSS code. No Wordpress, plugins, or external dependencies. There is literally nothing to hack.",
    },
    {
        title: "Custom Designs",
        text: "Our websites are coded by hand, ensuring complete flexibility in design and functionality.",
    },
    {
        title: "Transparent Pricing",
        text: "No hidden fees or surprise costs. You know exactly what you're paying for.",
    },
    {
        title: "A+ Page Scores",
        text: "With no bloat or unnecessary code, our websites achieve 95%+ page speed scores with Google.",
    },
    {
        title: "Money Back Guarantee",
        text: "If you're not satisfied with your website design, we'll refund your payment and cancel the contract—no questions asked. Your satisfaction is our priority.",
    },
    {
        title: "Enterprise Grade Tooling",
        text: "Our websites are built with the latest technologies and best practices based on 10 years of experience in the industry. We guarantee scalability, security, and performance.",
    },
];
---

<section id="sbs-2431">
    <div class="cs-container">
        <div class="cs-content-group">
            <div class="cs-content">
                <div class="cs-flex-group">
                    <span class="cs-topper">What We Offer</span>
                    <h2 class="cs-title">
                        Websites starting at $0 down and {monthlySubscriptionCost} per month
                    </h2>
                    <p class="cs-text">
                        Get started with $0 down for a standard 5-page small
                        business website. For larger projects, custom pricing is
                        available based on your specific needs, number of pages,
                        and project scope. A 12-month minimum contract applies.
                        All plans include design, development, hosting,
                        unlimited edits, 24/7 support, and lifetime updates.
                    </p>
                </div>
                <a href="" class="cs-button-solid">Schedule A Call</a>
            </div>
            <!-- Background Image -->
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset={backgroundPicture} />
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset={backgroundPicture} />
                <img
                    loading="lazy"
                    decoding="async"
                    src={backgroundPicture}
                    alt="appliance"
                    width="1280"
                    height="568"
                />
            </picture>
        </div>
        <div class="cs-ul-wrapper">
            <ul class="cs-card-group">
                {
                    offerings.map(({ text, title }) => (
                        <li class="cs-item">
                            <div class="cs-flex">
                                <h3 class="cs-h3">{title}</h3>
                                <p class="cs-item-text">{text}</p>
                            </div>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</section>

<style lang="scss">
    /*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
        #sbs-2431 {
            padding: var(--sectionPadding);
            background-color: #010104;
            overflow: hidden;

            .cs-container {
                width: 100%;
                max-width: calc(1280 / 16 * 1rem);
                margin: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: clamp(calc(48 / 16 * 1rem), 8vw, calc(80 / 16 * 1rem));
            }

            .cs-content-group {
                /* changes to 522px at Desktop */
                max-width: calc(890 / 16 * 1rem);
                padding: clamp(calc(16 / 16 * 1rem), 4vw, calc(32 / 16 * 1rem));
                padding-top: calc(236 / 16 * 1rem);
                box-sizing: border-box;
                position: relative;
                z-index: 1;
            }

            .cs-background {
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 1;

                &:before {
                    content: "";
                    position: absolute;
                    top: -1px;
                    bottom: -1px;
                    left: 0;
                    width: 100%;
                    background: linear-gradient(
                        to bottom,
                        rgba(1, 1, 4, 1) 0%,
                        rgba(1, 1, 4, 0) 56%,
                        rgba(1, 1, 4, 1) 100%
                    );
                    pointer-events: none;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -1px;
                    right: -1px;
                    height: 100%;
                    background: linear-gradient(
                        to right,
                        rgba(1, 1, 4, 1) 0%,
                        rgba(1, 1, 4, 0) 56%,
                        rgba(1, 1, 4, 1) 100%
                    );
                    pointer-events: none;
                }

                img {
                    height: 100%;
                    width: 100%;
                    /* Makes img tag act as a background image */
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }
            }

            .cs-content {
                position: relative;
                padding: clamp(calc(16 / 16 * 1rem), 3vw, calc(24 / 16 * 1rem));
                box-sizing: border-box;
                text-align: left;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                overflow: hidden;
                position: relative;
                z-index: 2;

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: fade(#030711, 30%);
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    z-index: 0;
                    pointer-events: none;
                }

                > * {
                    position: relative;
                    z-index: 1;
                }
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                margin-bottom: calc(16 / 16 * 1rem);

                &:last-of-type {
                    margin-bottom: calc(32 / 16 * 1rem);
                }
            }

            .cs-ul-wrapper {
                width: 100%;
                max-width: calc(570 / 16 * 1rem);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                .cs-text {
                    &:last-of-type {
                        margin-bottom: clamp(
                            calc(48 / 16 * 1rem),
                            7vw,
                            calc(64 / 16 * 1rem)
                        );
                    }
                }
            }

            .cs-card-group {
                width: 100%;
                max-width: calc(630 / 16 * 1rem);
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }

            .cs-item {
                list-style: none;
                padding: 0 0
                    clamp(calc(24 / 16 * 1rem), 4vw, calc(32 / 16 * 1rem));
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: clamp(calc(24 / 16 * 1rem), 3.3vw, calc(48 / 16 * 1rem));

                /* remove the border and spacing on the last cs-item */
                &:last-of-type {
                    margin: 0;
                    padding: 0;
                    border: none;
                }
            }

            .cs-icon-wrapper {
                width: calc(64 / 16 * 1rem);
                height: calc(64 / 16 * 1rem);
                // border: 1px solid #bababa;
                display: flex;
                justify-content: center;
                align-items: center;
                flex: none;
                position: relative;
                z-index: 1;
            }

            .cs-icon {
                width: calc(32 / 16 * 1rem);
                height: auto;
                margin: 0;
                display: block;
            }

            .cs-flex {
                border-bottom: 1px solid #21252e;
            }

            .cs-h3 {
                font-size: calc(20 / 16 * 1rem);
                font-weight: 700;
                line-height: 1.2em;
                text-align: left;
                margin: 0 0 calc(8 / 16 * 1rem) 0;
            }

            .cs-item-text {
                font-size: calc(16 / 16 * 1rem);
                line-height: 1.5em;
                text-align: left;
                margin-bottom: calc(32 / 16 * 1rem);
            }

            .cs-button-solid {
                font-size: calc(16 / 16 * 1rem);
                /* 46px - 56px */
                line-height: clamp(2.875em, 5.5vw, 3.5em);
                text-decoration: none;
                font-weight: 700;
                text-align: center;
                margin: 0;
                color: #fff;
                min-width: calc(150 / 16 * 1rem);
                padding: 0 calc(24 / 16 * 1rem);
                background-color: var(--primary);
                display: inline-block;
                position: relative;
                z-index: 1;
                /* prevents padding from adding to the width */
                box-sizing: border-box;

                &:before {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 0%;
                    background: #000;
                    opacity: 1;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    transition: width 0.3s;
                }

                &:hover {
                    &:before {
                        width: 100%;
                    }
                }
            }

            .cs-border {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;

                &:before {
                    content: "";
                    opacity: 1;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }
                &:after {
                    content: "";
                    opacity: 1;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }
            }

            .cs-border1 {
                /* top left border */
                &:before {
                    width: 100%;
                    height: 1px;
                    background: linear-gradient(
                        to right,
                        rgba(136, 137, 139, 1) 0%,
                        rgba(0, 0, 0, 0) 78%
                    );
                }

                &:after {
                    width: 1px;
                    height: 100%;
                    background: linear-gradient(
                        to bottom,
                        rgba(136, 137, 139, 1) 0%,
                        rgba(0, 0, 0, 0) 78%
                    );
                }
            }

            .cs-border2 {
                &:before {
                    width: 100%;
                    height: 1px;
                    background: linear-gradient(
                        to right,
                        rgba(0, 0, 0, 0) 22%,
                        rgba(136, 137, 139, 1) 100%
                    );
                    top: auto;
                    bottom: 0;
                }

                &:after {
                    width: 1px;
                    height: 100%;
                    background: linear-gradient(
                        to bottom,
                        rgba(0, 0, 0, 0) 22%,
                        rgba(136, 137, 139, 1) 100%
                    );
                    left: auto;
                    right: 0;
                }
            }
        }
    }

    /* Tablet - 768px */
    @media only screen and (min-width: 48rem) {
        #sbs-2431 {
            .cs-content-group {
                width: 100%;
                padding-top: clamp(
                    calc(16 / 16 * 1rem),
                    4vw,
                    calc(32 / 16 * 1rem)
                );
                padding-right: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            .cs-content {
                width: 47vw;
                max-width: calc(490 / 16 * 1rem);
            }
        }
    }

    /* Desktop - 1024px */
    @media only screen and (min-width: 64rem) {
        #sbs-2431 {
            .cs-container {
                flex-direction: row;
                align-items: stretch;
                justify-content: flex-start;
            }

            .cs-content-group {
                width: 47vw;
                max-width: calc(522 / 16 * 1rem);
                justify-content: flex-end;
            }

            .cs-content {
                width: 100%;
                max-width: calc(490 / 16 * 1rem);
                padding: calc(24 / 16 * 1rem);
                height: 100%;
                justify-content: space-between;
                gap: calc(200 / 16 * 1rem);
            }

            .cs-ul-wrapper {
                width: 43vw;
                flex: none;
                padding: 0;
                padding-top: calc(48 / 16 * 1rem);
            }
        }
    }

    /* Large Desktop - 1400px */
    @media only screen and (min-width: 1400px) {
        #sbs-2431 {
            .cs-background {
                width: 60vw;
                max-width: calc(890 / 16 * 1rem);
            }
        }
    }

    /* Dark Mode */
    @media only screen and (min-width: 0rem) {
        body.dark-mode {
            #sbs-2431 {
                background-color: rgba(0, 0, 0, 0.6);

                .cs-background {
                    &:before {
                        background: linear-gradient(
                            to bottom,
                            rgba(3, 13, 20, 1) 0%,
                            rgba(3, 13, 20, 0) 56%,
                            rgba(3, 13, 20, 1) 100%
                        );
                    }

                    &:after {
                        background: linear-gradient(
                            to right,
                            rgba(3, 13, 20, 1) 0%,
                            rgba(3, 13, 20, 0) 56%,
                            rgba(3, 13, 20, 1) 100%
                        );
                    }
                }
            }
        }
    }
</style>
